@model HoldingERP.WebUI.Models.LoginViewModel


@{
    ViewData["Title"] = "Giriş Yap";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <form asp-action="Login" method="post">
                <h4>Giriş yapmak için hesabınızı kullanın.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" asp-for="RememberMe" />
                    <label class="form-check-label" asp-for="RememberMe"></label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
                </div>
                <div classa="mt-3">
                </div>
            </form>
        </section>
    </div>
</div>