<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Holding ERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/HoldingERP.WebUI.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoldingERP.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Departman" asp-action="Index">Departman Yönetimi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="KullaniciYonetimi" asp-action="Index">Kullanıcı Yönetimi</a>
                                </li>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Talep Eden"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SatinAlmaTalebi" asp-action="Index">Taleplerim</a>
                                </li>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Onaycı"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Onay" asp-action="Index">Onay İşlemleri</a>
                                </li>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Muhasebe"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Muhasebe" asp-action="Index">Muhasebe</a>
                                </li>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Satın Almacı"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownSatinAlma" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Satın Alma
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSatinAlma">
                                        <li><a class="dropdown-item" asp-controller="SatinAlma" asp-action="Index">Yeni Talepler</a></li>
                                        <li><a class="dropdown-item" asp-controller="SatinAlma" asp-action="TeklifleriDegerlendirListesi">Teklif Değerlendirme</a></li>
                                    </ul>
                                </li>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Depo"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Stok" asp-action="Index">Stok Yönetimi</a>
                                </li>
                            }

                        }
                        
                    </ul>

                    <div class="navbar-nav d-flex flex-row align-items-center">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("Notification")

                            <li class="nav-item">
                                <a class="nav-link text-dark" title="Manage">Merhaba @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Çıkış Yap</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            </li>
                        }
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Holding ERP
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>