@using HoldingERP.Entities.Concrete
@model Departman

@{
    ViewData["Title"] = "Departman Düzenle";
}

<h1>@ViewData["Title"]</h1>

<h4>Departman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Ad" class="control-label">Departman Adı</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                <a asp-controller="Departman" asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>
