@model int

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <li class="nav-item me-2">
        <a class="nav-link text-dark position-relative" asp-controller="Onay" asp-action="Index" title="Onay Bekleyen Talepler">

            <i class="fas fa-bell"></i> 

            @if (Model > 0)
            {
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.65em;">
                    @Model
                    <span class="visually-hidden">onay bekleyen talep</span>
                </span>
            }
        </a>
    </li>
}