@model int

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <a class="dropdown-item" asp-controller="Onay" asp-action="Index">
        <i class="bx bx-bell me-2"></i>
        <span class="align-middle">Onay Bekleyenler</span>

        @if (Model > 0)
        {
            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">@Model</span>
        }
    </a>
}